@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono:wght@600&display=swap');
.links_title{
    padding: 25px;
    font-size: 0.8cm;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.links_content_frame{
    width: 80%;
    margin-left: 10%;
}
.links_content_text{
    padding: 10px;
    font-size: 0.6cm;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}